.aboutme__container {
  width: 90%;
  margin: 0 auto;
  background: var(--color-fore);
  justify-content: center;
  align-items: center;
  color: var(--color-mid);
}
.aboutme__container img {
  height: 40dvh;
  width: 60dvh;
}
.aboutme__container .emphasis {
  color: var(--color-high);
  font-family: var(--font-display);
}
.aboutme__container .italic {
  font-weight: 600;
}
.aboutme__container .underline {
  text-decoration: underline;
}
.aboutme__container .headline {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-back);
  border-bottom: 1px transparent;
}
.aboutme__container .headline img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-right: 1px solid var(--color-back);
}
.aboutme__container .headline .text {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-self: center;
}
.aboutme__container .headline .text h1 {
  font-size: 4rem;
  font-weight: 600;
}
.aboutme__container .headline .text h2 {
  font-size: 2rem;
  font-weight: 400;
}
.aboutme__container .secondSection {
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid var(--color-back);
  border-bottom: 1px transparent;
  display: flex;
  flex-direction: column;
}
.aboutme__container .secondSection p {
  width: 50%;
}
.aboutme__container .thirdSection {
  border: 1px solid var(--color-back);
  border-bottom: 1px transparent;
  padding: 1rem 2rem 2rem;
}
.aboutme__container .thirdSection h2 {
  margin-bottom: 1rem;
  font-weight: bold;
}
.aboutme__container .thirdSection .main-experience-slider {
  position: relative;
  display: flex;
  align-items: center;
}
.aboutme__container .thirdSection .main-experience-slider .slider-icon {
  color: var(--color-mid);
  opacity: 0.5;
}
.aboutme__container .thirdSection .main-experience-slider .left {
  margin-right: 1rem;
}
.aboutme__container .thirdSection .main-experience-slider .right {
  margin-left: 1rem;
}
.aboutme__container .thirdSection .main-experience-slider .slider-icon:hover {
  opacity: 1;
  color: var(--color-high);
  cursor: pointer;
}
.aboutme__container .thirdSection .main-experience-slider .workCard__container {
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  display: flex;
  width: 100%;
  height: auto;
}
.aboutme__container .thirdSection .main-experience-slider .workCard__container .work__card {
  display: flex;
  flex-direction: column;
  min-width: 25vw;
  margin: 0 0.5rem;
}
.aboutme__container .thirdSection .main-experience-slider .workCard__container .work__card .work__info {
  border: 1px solid var(--color-back);
  border-bottom: 1px transparent;
  width: 100%;
  height: 40%;
  padding: 1rem;
}
.aboutme__container .thirdSection .main-experience-slider .workCard__container .work__card .work__info .company {
  color: var(--color-mid);
  font-size: 0.8rem;
  font-weight: bold;
}
.aboutme__container .thirdSection .main-experience-slider .workCard__container .work__card .work__info .year {
  font-size: 0.8rem;
}
.aboutme__container .thirdSection .main-experience-slider .workCard__container .work__card .work__info .role {
  color: var(--color-high);
  font-weight: bold;
}
.aboutme__container .thirdSection .main-experience-slider .workCard__container .work__card .work__description {
  border: 1px solid var(--color-back);
  height: 100%;
  padding: 1rem;
  align-content: center;
  color: var(--color-mid);
}
.aboutme__container .download {
  border: 1px solid var(--color-back);
  border-bottom: 1px transparent;
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  justify-items: center;
  align-items: center;
}
.aboutme__container .download h2 {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.aboutme__container .download .btn-alt {
  width: 100%;
  border-radius: 0;
}

/* ========================= Media Queries ========================= */
@media screen and (max-width: 1080px) {
  .aboutme__container {
    text-align: center;
  }
  .aboutme__container .headline {
    display: block;
    justify-content: center;
  }
  .aboutme__container .headline .text {
    align-items: center;
    width: 100%;
    padding: 1rem;
  }
  .aboutme__container .headline .text h1 {
    font-size: 3rem;
  }
  .aboutme__container .headline .text h2 {
    font-size: 1.5rem;
    font-weight: 400;
  }
  .aboutme__container .headline img {
    display: none;
  }
  .aboutme__container .thirdSection {
    border: 1px solid var(--color-back);
    border-bottom: 1px transparent;
    padding: 1rem 2rem 2rem;
  }
  .aboutme__container .thirdSection h2 {
    margin-bottom: 1rem;
    font-weight: bold;
  }
  .aboutme__container .thirdSection .main-experience-slider .slider-icon {
    display: none;
  }
  .aboutme__container .thirdSection .main-experience-slider .workCard__container {
    text-align: left;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 0.5rem;
  }
  .aboutme__container .thirdSection .main-experience-slider .workCard__container .work__card {
    height: 15dvh;
    justify-content: center;
  }
  .aboutme__container .thirdSection .main-experience-slider .workCard__container .work__card .work__info {
    border-bottom: 1px solid var(--color-back);
    height: 100%;
  }
  .aboutme__container .thirdSection .main-experience-slider .workCard__container .work__card .work__description {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .main-experience-slider .workCard__container {
    flex-direction: column;
  }
  .main-experience-slider .workCard__container .work__card {
    width: 95%;
  }
}/*# sourceMappingURL=aboutme.css.map */