#work {
  border: 1px solid var(--color-back);
  border-bottom: 1px transparent;
  width: 90%;
  padding-top: 6rem;
  margin: 0 auto;

  h2 {
    text-align: center;
    color: var(--color-mid);
    font-size: 3rem;

    font-family: var(--font-display);
  }
}
.main-slider-container {
  margin: auto auto 0 auto;
  width: 75%;
  height: 100%;
  color: var(--color-back);
  position: relative;
  display: flex;
  align-items: center;

  .slider-icon {
    color: var(--color-mid);
    border-radius: 100%;
    opacity: 0.5;
    &:hover {
      opacity: 1;
      color: var(--color-high);
      cursor: pointer;
    }
  }
  .left {
    margin-right: 1rem;
  }
  .right {
    margin-left: 1rem;
  }

  #slider {
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
    border-radius: 1rem;

    .slider-card {
      width: 16.1vw;
      height: 300px;
      display: inline-block;
      margin: 0 5px;
      text-align: right;
      cursor: pointer;

      .slider-card-image {
        width: 100%;
        height: 100%;
        img {
          border-radius: 1rem;
          height: 100%;
          width: 100%;
          margin-left: auto;
          margin-right: auto;
          display: block;
          object-fit: cover;
        }
      }
    }
  }
}

//ANIMATION
@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
.animate {
  width: 200%;
  animation: marquee 30s linear infinite;
  top: 50%;
  transform: translate(0, -50%);
}
.animate:hover {
  animation-play-state: paused;
}

.animation__container {
  scroll-behavior: smooth;
  margin: 100px auto 0 auto;
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-top: 1px solid var(--color-back);

  .animation__animate {
    display: flex;
    position: absolute;
    left: 0;
    width: 200%;

    .animation__parts {
      display: flex;
      justify-content: space-around;
      height: 200px;
      width: 50%;
      img {
        align-self: center;
        margin: 0;
        padding: 0;
        width: 10vw;
        object-fit: contain;
      }
      div {
        display: none;
      }
    }
  }
}

/* ========================= Media Queries ========================= */

// Medium Devices
@media screen and (max-width: 1080px) {
  #work {
    margin: 0 auto;
    h2 {
      font-size: 2.5rem;
    }
  }
  .main-slider-container {
    width: 75%;
    #slider {
      .slider-card {
        width: 25vw;
        height: 100%;
        h2 {
          font-size: 1.4rem;
        }
        p {
          font-size: 1rem;
        }
      }
    }
  }
  .animation__animate {
    width: 300%;
  }

  .animate {
    width: 200%;
    animation: marquee 30s linear infinite;
    top: 50%;
    transform: translate(0, -50%);
  }
  .animation__container {
    width: 100%;
    height: 100px;
    .animation__animate {
      width: 250%;
      .animation__parts {
        width: 100%;
        img {
          width: 11.5vw;
        }
      }
    }
  }
}

// Small Devices
@media screen and (max-width: 500px) {
  #work {
    margin-top: 0;
    padding-top: 3rem;
  }
  .main-slider-container {
    .slider-icon {
      display: none;
    }
    #slider {
      width: 100%;
      .slider-card {
        width: 25vw;
        height: 100%;

        h2 {
          font-size: 1rem;
          text-align: center;
        }
        p {
          display: none;
        }
      }
    }
  }
  .animation__container {
    width: 100%;
    height: 75px;
    .animation__animate {
      width: 300%;
      .animation__parts {
        width: 100%;
        img {
          width: 15vw;
        }
      }
    }
  }
}
