#contacto {
  border: 1px solid var(--color-back);
  border-bottom: 1px transparent;
  width: 90%;
  padding: 6rem 0 5rem;
  margin: 0 auto;

  .contacto__container {
    width: 75%;
    height: 25vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: var(--color-mid);
    h1 {
      font-size: 3rem;
      margin-bottom: 2rem;
      font-family: var(--font-display);
      font-style: italic;
      color: var(--color-high);
    }
    form {
      display: flex;
      gap: 1.2rem;
      margin: 0 auto;
      font-family: var(--font-normal);
      input {
        width: 25vw;
        border-bottom: 1px solid var(--color-back);
        background: transparent;
        font-style: italic;
        font-weight: 500;
        font-size: 1.2rem;
        padding: 0.3rem;
        color: var(--color-high);
      }
      ::placeholder {
        color: var(--color-mid);
        font-family: var(--font-normal);
        font-weight: 300;
        font-size: 1rem;
      }
    }
    .contacto__long {
      margin-top: 1.2rem;
      width: fit-content;
      align-self: center;
      color: var(--color-mid);
      border-bottom: 1px solid transparent;
      h6 {
        font-family: var(--font-italic);
        font-style: italic;
        font-size: 0.9rem;
      }
    }
  }
}
